*{
    margin: 0;
    padding: 0;
}
body{
    height: 980px;
    width: auto;
}

.image {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 90vh;
}



.container {
    font-family:'Times New Roman', Times, serif;
    width: auto;
}
.h1{
    text-align: center;
}
p{
    text-align: center;
}

span ul li{
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    font-size: 25px;

}

.pbtn{
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    font-size:30px;   
}
